<%- include ('layout/header.ejs') %>

<div class="main">
    <div class="container">
       <div class="content">
           <div class="post">
                <div class="top">
                    <h2>Заголовок поста</h2>
                </div>
                <div class="body">
                    <p>
                        Как там поживает свежая королевская битва Hyper Scape от Ubisoft? Судя по статистике Twitch, не так уж и плохо! Ах да, ещё в игру добавили временный режим «Война фракций». <br>
                        В этом режиме сражаются 96 игроков — по 24 человека в четырёх фракциях, разделённых на отряды по три бойца. Каждая фракция начинает матч в своей безопасной зоне. Фракция проиграет, если все её члены станут фантомами. Фракция победит, если сумеет продержаться дольше остальных. <br>
                        «Война фракций» продлится до 1 сентября. <br>
                        Напомним, что Hyper Scape доступна бесплатно на PC, PlayStation 4 и Xbox One. Сейчас в игре идёт первый сезон, о содержимом которого можно узнать из этой новости. 
                    </p>
                </div>
                <div class="bottom">
                    <div class="author">
                        Автор: <a href="/">Руслан Присекин</a>
                    </div>
                    <a href="/">Комментарии</a>
                </div>
           </div>

           <div class="post">
                <div class="top">
                    <h2>Заголовок поста</h2>
                </div>
                <div class="body">
                    <p>
                        Как там поживает свежая королевская битва Hyper Scape от Ubisoft? Судя по статистике Twitch, не так уж и плохо! Ах да, ещё в игру добавили временный режим «Война фракций». <br>
                        В этом режиме сражаются 96 игроков — по 24 человека в четырёх фракциях, разделённых на отряды по три бойца. Каждая фракция начинает матч в своей безопасной зоне. Фракция проиграет, если все её члены станут фантомами. Фракция победит, если сумеет продержаться дольше остальных. <br>
                        «Война фракций» продлится до 1 сентября. <br>
                        Напомним, что Hyper Scape доступна бесплатно на PC, PlayStation 4 и Xbox One. Сейчас в игре идёт первый сезон, о содержимом которого можно узнать из этой новости. 
                    </p>
                </div>

                <div class="bottom">
                    <div class="author">
                        Автор: <a href="/">Руслан Присекин</a>
                    </div>
                    <a href="/">Комментарии</a>
                </div>
           </div>
       </div> 
       <%- include ('layout/sidebar.ejs') %>
    </div>
</div>
   
<%- include ('layout/footer.ejs') %>